{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
  <title>Iníco</title>
</head>
<body>
  <header>
    <h2>COMPUTARIA</h2>
    <nav>
      <a href="#">Home</a>
      <a href="../form/index.html">Form</a>
      <a href="../data/index.html">Data</a>
    </nav>
  </header> 
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="block">
          <img src="{% static 'imgs/party.jpg' %}" alt="party" width="80%">
        </div>
        <div class="block right">
          <p>
            A cidade de São Carlos, no interior de São Paulo, está prestes a receber uma das festas mais animadas e aguardadas do ano: a Computaria! Esse evento promete agitar a noite da cidade com muita música, dança e tecnologia.
            A festa será realizada em um grande espaço, decorado com elementos futuristas e tecnológicos, criando uma atmosfera única e envolvente. Além disso, a iluminação especial e os efeitos visuais ajudarão a criar um ambiente mágico e fascinante.
            Os organizadores da Computaria convidaram alguns dos melhores DJs da região para tocar as melhores músicas eletrônicas e animar a pista de dança durante toda a noite. Os participantes da festa poderão dançar e se divertir ao som de diversos estilos musicais, como house, techno e trance.
            Além da música, a festa também contará com diversas atrações tecnológicas, como jogos de realidade virtual, simuladores de corrida e outras atividades interativas. Os participantes poderão experimentar as mais recentes novidades do mundo da tecnologia e se divertir muito enquanto socializam e conhecem novas pessoas.
            A Computaria é uma festa aberta para todas as idades e é recomendada para quem gosta de se divertir e conhecer novas pessoas em um ambiente festivo e animado. Com muita música, tecnologia e diversão, essa festa promete ser uma das melhores de São Carlos este ano.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="block">
          <p>
            A cidade de São Carlos, no interior de São Paulo, está prestes a receber uma das festas mais animadas e aguardadas do ano: a Computaria! Esse evento promete agitar a noite da cidade com muita música, dança e tecnologia.
            A festa será realizada em um grande espaço, decorado com elementos futuristas e tecnológicos, criando uma atmosfera única e envolvente. Além disso, a iluminação especial e os efeitos visuais ajudarão a criar um ambiente mágico e fascinante.
            Os organizadores da Computaria convidaram alguns dos melhores DJs da região para tocar as melhores músicas eletrônicas e animar a pista de dança durante toda a noite. Os participantes da festa poderão dançar e se divertir ao som de diversos estilos musicais, como house, techno e trance.
            Além da música, a festa também contará com diversas atrações tecnológicas, como jogos de realidade virtual, simuladores de corrida e outras atividades interativas. Os participantes poderão experimentar as mais recentes novidades do mundo da tecnologia e se divertir muito enquanto socializam e conhecem novas pessoas.
            A Computaria é uma festa aberta para todas as idades e é recomendada para quem gosta de se divertir e conhecer novas pessoas em um ambiente festivo e animado. Com muita música, tecnologia e diversão, essa festa promete ser uma das melhores de São Carlos este ano.
          </p>
        </div>
        <div class="block right">
          <img src="{% static 'imgs/party.jpg' %}" alt="party" width="80%">
        </div>
      </div>
    </div>
  </div>
  <footer>
    All rigths to João Victor Fernandes
  </footer> 
</body>
</html>